.gradient-text { background: linear-gradient(to right, #d8315b, #8e44ad);
                -webkit-background-clip:
                  text;
                -webkit-text-fill-color:
                  transparent;
                font-size: 30px;
                font-weight: bold;
               }
.gradient-text2 { background: linear-gradient(to right,#ffcc66,#ff66cc,#9933ff);
                -webkit-background-clip:
                  text;
                -webkit-text-fill-color:
                  transparent;
                font-size: 30px;
                font-weight: bold;
               }
