.gradient-text { background: linear-gradient(to right, #d8315b, #8e44ad);
                -webkit-background-clip:
                  text;
                -webkit-text-fill-color:
                  transparent;
                font-size: 30px;
                font-weight: bold;
               }
.gradient-text2 { background: linear-gradient(to right,#ffcc66,#ff66cc,#9933ff);
                -webkit-background-clip:
                  text;
                -webkit-text-fill-color:
                  transparent;
                font-size: 30px;
                font-weight: bold;
               }

.modal {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

button {
    display: block;
    margin: 15px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
p{ 
font-size:16px;
}
@media only screen and (min-width;768px) {
p }
font-size: 18px;
}
}
@media only screen and (max-width;414px) {
p }
font-size: 14px;
}
}